table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

table td,
table th {
    border: 1px solid white;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #00b4e7;
}

table tr:hover {
    background-color: #00fde8; 
}

table th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: #001f4b;
}
